:root{

--springhill:#7A9A72;

--snow:#F8F7F0;

--vines:#5F7A4F;

--text:#263326;

}



*{

margin:0;
padding:0;
box-sizing:border-box;

}



html{

scroll-behavior:smooth;

}



body{

font-family:Poppins,sans-serif;

background:var(--springhill);

color:var(--text);

}




/* NAV */

.navbar{

position:fixed;

top:0;

width:100%;

padding:18px 8%;


display:flex;

align-items:center;

justify-content:space-between;


background:var(--snow);

z-index:100;


box-shadow:0 5px 20px rgba(0,0,0,.08);

}



.logo{

font-weight:700;

font-size:1.4rem;

color:var(--vines);

}



.nav-links{

display:flex;

gap:25px;

list-style:none;

}



.nav-links a{

text-decoration:none;

color:var(--text);

}



.nav-links a:hover{

color:var(--vines);

}



/* SMALL IMAGE */

.profile-small img{

width:45px;

height:45px;

border-radius:50%;

object-fit:cover;

border:3px solid var(--vines);

}





/* HERO */


.hero{

height:100vh;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

}



.profile-image{

width:190px;

height:190px;

border-radius:50%;

object-fit:cover;

border:8px solid var(--snow);

}



.hero h1{

font-size:4rem;

color:white;

}



.hero h2{

color:var(--snow);

margin:15px;

}



.hero p{

color:white;

}





/* BUTTONS */


.btn{

display:inline-block;

padding:13px 30px;

margin:20px 8px;

border-radius:30px;

background:var(--vines);

color:white;

text-decoration:none;

font-weight:600;

}



.btn:hover{

opacity:.85;

}



.secondary{

background:var(--snow);

color:var(--vines);

}





/* SECTIONS */


.section{

padding:100px 10%;

background:var(--snow);

}



.section h2{

text-align:center;

color:var(--vines);

margin-bottom:40px;

}





/* CARDS */


.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(230px,1fr));

gap:25px;

}



.card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}



.card:hover{

transform:translateY(-8px);

}





/* ANIMATION */


.reveal{

opacity:0;

transform:translateY(30px);

transition:.8s;

}


.reveal.active{

opacity:1;

transform:translateY(0);

}





footer{

background:var(--vines);

color:white;

text-align:center;

padding:35px;

}





@media(max-width:700px){


.nav-links{

display:none;

}


.hero h1{

font-size:2.5rem;

}


}
