*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:Arial, sans-serif;

    background:#7A9A72;

    color:#263326;

}



.navbar{

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:20px 8%;

    background:#F8F7F0;

}



.logo{

    color:#5F7A4F;

}



.nav-links{

    display:flex;

    gap:20px;

    list-style:none;

}



.nav-links a{

    text-decoration:none;

    color:#263326;

}



.profile{

    width:55px;

    height:55px;

    border-radius:50%;

    object-fit:cover;

    border:3px solid #5F7A4F;

}




.hero{

    height:80vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;

}



.hero h1{

    font-size:60px;

}



.button{

    margin-top:25px;

    padding:12px 30px;

    background:#5F7A4F;

    color:white;

    border-radius:30px;

    text-decoration:none;

}




section{

    background:#F8F7F0;

    padding:70px 10%;

}



section h2{

    text-align:center;

    margin-bottom:30px;

    color:#5F7A4F;

}



.card{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}




.grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

    gap:20px;

}




footer{

    background:#5F7A4F;

    color:white;

    text-align:center;

    padding:25px;

}




@media(max-width:700px){

.nav-links{

display:none;

}


.hero h1{

font-size:40px;

}

}
